.avMostrar,.avMostrarD{
    opacity: 0;
}
.avRotar,.avRotarD{
    opacity: 0;
}
.avDer,.avDerD{
   transform: translateX(-2000px);
}
.avIzq,.avIzqD{
   transform: translateX(-2000px);
}
.avMostrarT{
    opacity: 1;
}
.avRotarT{
    opacity: 1;
}
.avDerT{
   transform: translateX(0);
}
.avIzqT{
   transform: translateX(0);
}
.rotar{
    animation-name: mov;
    animation-duration: 1s;
}
.aparecer{
    animation-name: mostrar;
    animation-duration: 3s;
}
.haciaDerecha{
    animation-name: der;
    animation-duration: 3s;
}
.haciaDer{
    animation-name: derM;
    animation-duration: 2s;
}
.haciaDerSalir{
    animation-name: derSalir;
    animation-duration: 2s;
}
.haciaIzquierda{
    animation-name: izq;
    animation-duration: 2s;
}
.haciaArriba{
    animation-name: sube;
    animation-duration: 4s;
}
.haciaAbajo{
    animation-name: bajo;
    animation-duration: 3s;
}
@keyframes sube{
    from{
        transform: translateY(10000px);
    }
    to{
        transform: translateY(0px)
    }
}
@keyframes bajo{
    from{
        transform: translateY(-2000px);
    }
    to{
        transform: translateY(0px)
    }
}
@keyframes mov{
    from{
        transform: rotate(45deg);
    }
    to{
        opacity: 1;
        transform: rotate(0deg);
    }
}
@keyframes mostrar{
    from{
        opacity: 0; 
    }
    to{
        opacity: 1;
    }
}
@keyframes derM{
    from{
        transform: translateX(-20px);
    }
    to{
        transform: translateX(0px);
    }
}
@keyframes derSalir{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-2000px);
    }
}
@keyframes der{
    from{
        transform: translateX(-2000px);
    }
    to{
        transform: translateX(0px);
    }
}
@keyframes izq{
    from{
        transform: translateX(-2000px);
    }
    to{
        transform: translateX(0px);
    }
}