body{
    background:  linear-gradient(rgba(90,85,96,0.8),rgba(70,52,78,0.6)), url(../imagenes/bg_ch.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
main{
    z-index: 1;
}
/*Navegación*/
nav{
    position: fixed;
    display: inline-block;
    z-index: 10;
}
header{
    text-align: center;
    position: fixed;
    width: 100%;
    margin-left: 0px;
    z-index: 500 important!;
}
header li{
    list-style: none;
}
header .menu-link {
    color: #b9b7b7;
    font-size: 18px;
    text-decoration: none;
}
header .menu-link:hover{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.movil{
    display: none;
}

@media only screen and (max-width: 768px){
    .movil{
        display: inline-block;
    }

    nav{
        transform: translateX(-20px);
        display: none;
        /*background-color: rgba(255,255,255,0.45);*/
        height: 1200px;
    }
    nav li a:hover {
        border-bottom: orange solid 3px;
    }
    header .row{
        margin-left: 0px;
    }

    .logo{
        display: none;
    }
} 

.btn-menu{
    color: #fff;
    padding: 2em;
    background: rgba(0,0,0,0.4)
    /*display: none;*/
}
svg{
    fill: #fff;
    vertical-align: middle;
    float: right;
    cursor: pointer;
}
.logo-movil{
    float:left;
}
.logo-movil-dos{
    float:left;
}
.cerrar{
    padding: 10px;
    color: #8A0808;
    padding-top: 0px;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 30px;
    background: none;
    font-weight: 900;
    border: none;
    cursor:pointer;
    float: right
}
.cerrar:hover{
    color: #B40404;
    font-size: 32px;
    text-decoration: none;
}

#publicidad{
    display: none;
    z-index: 1;
}
.publi{
    background-color: rgba(0,0,0,0.5);
    height: 100px;
    border: solid white 1px;
}
.poppubli{
    width: 100%;
    opacity: 1;
    transition: all 2ms;
}